[submodule "modules/calendar_monthly"]
	path = modules/calendar_monthly
	url = https://github.com/KirAsh4/calendar_monthly.git
[submodule "modules/MMM-Admin-Interface"]
	path = modules/MMM-Admin-Interface
	url = https://github.com/ItayXD/MMM-Admin-Interface.git
[submodule "modules/internet-monitor"]
	path = modules/internet-monitor
	url = https://github.com/ronny3050/internet-monitor.git
[submodule "modules/mm-hsl-timetable"]
	path = modules/mm-hsl-timetable
	url = https://github.com/ZakarFin/mm-hsl-timetable.git
[submodule "modules/MMM-SystemStats"]
	path = modules/MMM-SystemStats
	url = https://github.com/BenRoe/MMM-SystemStats.git
[submodule "modules/MMM-Wallpaper"]
	path = modules/MMM-Wallpaper
	url = https://github.com/kolbyjack/MMM-Wallpaper.git
[submodule "modules/MMM-Hsl-stops/"]
	path = modules/MMM-Hsl-stops/
	url = https://github.com/0EQUALIZERO/MMM-Hsl-stops.git

